* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 0;
	font-family: 'Inconsolata', monospace;
	font-weight: lighter;
	text-align: center;
	cursor: default;
	user-select: none;
	transition: all 0.5s;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
	background-color: rgba(30, 30, 30, 1);
	overflow: hidden;
}

/*foreground*/
#foreground {
	display: block;
	width: auto;
	height: 60px;
	transform: translateY(-100%);
	/*background-color: black;*/
	white-space: nowrap;
	overflow-x: auto;
}

#container {
	display: block;
	position: absolute;
	height: 60px;
	text-align: left;
}

span {
	display: inline-block;
	font-size: 25px;
	line-height: 60px;
	margin-right: 10em;
	color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

span:hover {
	color: rgba(255, 255, 255, 0.5);
	filter: blur(0);
}

.focus {
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 0.1em 0.1em 0.2em black;
	filter: blur(0);
}

.blur {
	filter: blur(3px);
}

.learned {
	color: #D8C15A;
	text-decoration: line-through;
}

/*translation*/
#explain, #input {
	height: 30px;
	font-family: 'Heebo', sans-serif;
}

#explain {
	display: table;
	width: auto;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	margin-left: 50%;
	color: rgba(30, 30, 30, 1);
	background-color: #D8C15A;
}

#input {
	display: none;
	position: absolute;
	bottom: 0;
	width: auto;
	font-size: 16px;
	font-weight: lighter;
	color: #D8C15A;
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	outline: none;
}

#input:focus {
	border: solid 1px #D8C15A;
}

#input.check {
	background-color: #D8C15A;
}

/*counter*/
.note {
	display: inline-block;
	position: absolute;
	right: 250px;
	font-family: 'Heebo', sans-serif;
	font-size: 20px;
	color: #D8C15A;
}

#note-v {
	top: -10px;
}

#note-l {
	bottom: -10px;
}

.number {
	display: inline-block;
	position: absolute;
	right: -30px;
	font-family: 'Heebo', sans-serif;
	font-weight: 700;
	font-size: 150px;
	color: #D8C15A;
}

#number-v {
	top: -80px;
}

#number-l {
	bottom: -80px;
}

#number-v:hover {
	right: 30px;
	top: 10px;
}

#number-v:hover + #note-v{
	right: 35px;
	top: 10px;
}

#number-l:hover {
	right: 30px;
	bottom: 10px;
}

#number-l:hover + #note-l {
	right: 35px;
	bottom: 10px;
}

/*background*/
#background {
	display: block;
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: -1;
}

.current {
	display: inline-block;
	position: absolute;
	font-family: 'Heebo', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.5);
	z-index: 0;
}

/*general*/
.center {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}