* {
	box-sizing: border-box;
	font-size: 0;
	margin: 0;
	padding: 0;
	cursor: default;
	user-select: none;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden; 
}

section {
	display: block;
	position: absolute;
	overflow: hidden; 
}

#date{
	width: 10%;
	height: 60%;
	margin: 5% 0;
	right: 0;
}

#project {
	width: 70%;
	height: 60%;
	margin: 5% 15%;
	left: 0;
}

#info {
	width: 80%;
	height: 10%;
	margin: 5% 10%;
	top: 80%;
}

ul {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	list-style-type: none;
}

#dueday, #name {
	z-index: 2;
}

#board {
	z-index: 1;
}

li {
	position: relative;
	height: 25%;
	overflow: hidden;
}

h1, h2 {
	position: absolute;
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: lighter;
}

h1 {
	font-size: 15px;
}

li h1 {
	width: 100%;
	top: 40%;
	transform: translateY(-40%) rotate(90deg);
	text-align: center;
	cursor: pointer;
	transition: all 0.5s;
}

li h1:hover {
	width: 100%;
	top: 40%;
	transform: translateY(-40%);
}

li h1.active {
	top: 0;
	transform: rotate(0);
}

h2 {
	opacity: 0;
	bottom: 0;
	font-size: 50px;
	color: white;
	transition: all 0.5s;
}

div {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 5%;
	top: 40%;
	left: 0;
	background-color: lightblue;
	transition: all 0.5s;
}

div.active {
	opacity: 0.3;
	height: 80%;
	top: 0;
}