* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 0;
	font-family: 'Covered By Your Grace', cursive;
	font-weight: lighter;
	text-align: left;
	cursor: default;
	user-select: none;
	transition: all 0.5s;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
	background-color: white;
}

#input, #shape, div {
	display: inline-block;
	height: 220px;
	font-size: 150px;
	line-height: 220px;
	letter-spacing: -2px;
}

#input, #shape {
	position: absolute;
	left: 10vw;
	right: 0;
	top: 0;
	bottom: 5vh;
	margin: auto;
	width: 90vw;
	color: MediumAquaMarine;
	background-color: transparent;
}

#input {
	border: none;
	outline: none;
	z-index: 1;
}

::placeholder {
	color: rgba(102,205,170, 0.5);
}

#input::selection {
	color: white;
	background-color: MediumAquaMarine;
}

#shape {
	z-index: 0;
}

div {
	width: auto;
	transform: translateY(0);
	transition-property: transform;
	transition-duration: 0.5s;
}

#def {
	display: block;
	position: absolute;
	left: 30vw;
	top: 15vh;
	width: 60vw;
	height: 55vh;
	font-size: 22px;
	font-family: 'Caveat', cursive;
	font-weight: normal;
	color: black;
	line-height: 26px;
	overflow: auto;
	z-index: 1;
	opacity: 0.1;
}

#def:hover {
	opacity: 0.6;
}

#def:hover + #shape {
	opacity: 0.2;
}

h1 {
	position: absolute;
	left: 40vw;
	top: 45vh;
	width: auto;
	height: auto;
	font-size: 80px;
	line-height: 80px;
	letter-spacing: -2px;
	color: lightgrey;
	opacity: 0.2;
	z-index: 0;
}

#bar {
	position: absolute;
	bottom: 2vh;
	width: 100vw;
	height: 5vh;
	overflow-y: scroll;
	direction:rtl;
	white-space: nowrap;
}

.history {
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 25px;
	color: MediumAquaMarine;
	opacity: 0.5;
	cursor: pointer;
}

.history:hover {
	opacity: 1;
}