* {
    transition: all 0.5s ease-in-out;    
}

div {
    position: relative;
    margin-left: calc(50% - 25vw);
    margin-top: 25vh;
    margin-bottom: 25vh;
    width: 50vw;
    height: 50vh;
    overflow: hidden;
}

img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    filter: grayscale(100%) contrast(50%);
}

h1 {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-family: monospace;
    color: black;
    transform: translateY(-50%);
}